{% extends "base.html" %}
{% if user.is_staff %} <a href="{% url 'admin:index' %}">Admin</a> {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'issues:main' %}">Main</a>
                    <a href="{% url 'issues:profile' user.pk %}">Edit profile</a>
                    <a href="{% url 'issues:viewprofile' user.pk %}">My Page</a>
                    <a href="{% url 'issues:forums' %}">Forum</a>
                {% endif %}

                {% if not user.is_authenticated %}<a href="/accounts/login/?next=/issues/">login</a> | <a
                    href="/accounts/register/">register</a>
                {% endif %}

                {% if user.is_authenticated %}<a href="/accounts/logout/?next=/issues/">logout</a>{% endif %}
{% block content %}
{% block sidebar %} <style type="text/css"> </style> {% endblock %}

    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        #submit { float:inherit;}
    </style>

    <div class="main">

    <p>
     <form action="" method="post" >{% csrf_token %}
           <table>
                {{form.as_table }}
            </table>
            <input type="submit" value="Update" />
        </form>
    </p>
</div>

{% endblock %}
