{% extends "base.html" %}
{%block content%}
<center>
                    <div class="ppic"><img src="{{ userprofile.avatar }}"  alt="No Profile picture" height="200" width="200"/><br /></div>
            <br />
                    <div class="title">Name:</div>
                    <div class="detail"> {{ user.first_name}}<br /></div>
                    <div class="title">city:</div>
                    <div class="detail"> {{ userprofile.city}}<br /></div>
                    <div class="title">Email Address:</div>
                    <div class="detail">{{ userprofile.user.email }}<br /></div>
                    <div class="title">grades:</div>
                    <div class="detail">{{ userprofile.grades }}<br /></div>
                    <div class="title">state:</div>
                    <div class="detail">{{ userprofile.state }}<br /></div>
                    <div class="title">fielsofstudy:</div>
                    <div class="detail">{{ userprofile.fieldOfStudy|linebreaksbr }}<br /></div>
                    <div class="title">Last Login:</div>
                    <div class="detail">{{ userprofile.user.last_login|date:"M d Y" }}<br /></div>
                    <div class="title">Joined: </div>
</center>
{%endblock%}
